In [39]:
from pyspark.sql.types import StructField, StringType, IntegerType, StructType
from pyspark.sql import SparkSession

In [40]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

In [41]:
df = spark.read.json('data/people.json')

In [42]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

Schema of the data frame

In [43]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

If we need the column names, just use .columns

In [44]:
df.columns

['age', 'name']

Statistical summary of the data frame

In [45]:
df.describe()

DataFrame[summary: string, age: string, name: string]

In [46]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

Creating a list of structured fields

In [47]:
data_schema = [StructField('age', IntegerType(), True),
              StructField(('name'), StringType(), True)]

In [48]:
final_struc = StructType(fields = data_schema)

In [49]:
df = spark.read.json('data/people.json', schema = final_struc)

In [50]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

How to grab data?

In [52]:
type(df['age'])

pyspark.sql.column.Column

In [53]:
df.select('age')

DataFrame[age: int]

In [54]:
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [55]:
type(df.select('age'))

pyspark.sql.dataframe.DataFrame

We want to check the first two rows in the data frame

In [57]:
df.head(2)[0]

Row(age=None, name='Michael')

In [59]:
type(df.head(2)[0]) # Row object

pyspark.sql.types.Row

In [60]:
df.select(['age','name'])

DataFrame[age: int, name: string]

Creating new columns

In [62]:
df.withColumn('double-age', df['age']*2).show()

+----+-------+----------+
| age|   name|double-age|
+----+-------+----------+
|null|Michael|      null|
|  30|   Andy|        60|
|  19| Justin|        38|
+----+-------+----------+

Rename a column

In [63]:
df.withColumnRenamed('age', 'my-new-age').show()

+----------+-------+
|my-new-age|   name|
+----------+-------+
|      null|Michael|
|        30|   Andy|
|        19| Justin|
+----------+-------+

### SQL

In [73]:
df.createOrReplaceTempView('people')

In [74]:
results = spark.sql("SELECT * FROM people")
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [75]:
new_results = spark.sql("SELECT * FROM people WHERE age = 30")
new_results.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+